<footer class="version">
 <div class="container">
  <ul class="logos">
    <li><a href="https://www.fct.pt/"><img src="resources/images/2022_FCT_Logo_A_horizontal_preto_trimmed-2048x649.png" alt="FCT" style="height: 50px; padding-right: 2em; "/></a></li>
    <li><a href="https://clunl.fcsh.unl.pt/grupos_clunl/lexicologia-lexicografia-terminologia/"><img src="resources/images/Logo-CLUNL-Preto-2048x1122.png" alt="CLUNL" style="height: 50px;  padding-right: 2em;"/></a></li>
    <li><a href="https://www.fcsh.unl.pt/"><img src="resources/images/novologo_preto.png" alt="NOVA FCSH" style="height: 50px;  padding-right: 2em;"/></a></li>
  </ul>
  <div class="dedication">
    <div>Project <a href="http://doi.org/10.54499/PTDC/LLT-LIN/6841/2020">DOI 10.54499/PTDC/LLT-LIN/6841/2020PTDC/LLT-LIN/6841/2020</a>.</div>
    <div>NOVA CLUNL, Colégio Almada Negreiros, gabinete 343, 1099-032 Lisboa <br />(+351) 217 908 309 | Ext.: 40235 </div>
  </div>
  <div>
    <a href="https://twitter.com/MorDigital1" target="_blank"><img src="resources/images/twitter.svg"/></a> <br />
    <a href="https://www.youtube.com/channel/UC4eyaN6EHAyFso-UJRusF5w" target="_blank"><img src="resources/images/youtube.svg"/></a>  <br />
    <a href="mailto:mordigital@fcsh.unl.pt">mordigital@fcsh.unl.pt</a>
  </div>
  <div>MORDigital <span data-template="pages:version" /><br />
     <a href="https://github.com/daliboris/tei-publisher-components/tree/project/lediir">web components</a> <pb-version/> <br />
      API <span data-template="pages:api-version" /> /
      background by <a href="https://www.freepik.com/free-vector/white-background-with-triangle-patterns_4403214.htm">starline</a>
    </div>
 </div>
 
</footer>