     <div class="card-content">
      <iron-form id="form" allow-redirect="allow-redirect">
       <form id="search-advanced-form" action="${app}/search.html" data-template="pages:parse-params">
        <pb-repeat>
         <template>
            <div class="search-advanced-container">
             <pb-custom-form id="area-advanced-form">
              <pb-select data-i18n="[label]lex0.search.labels.field" name="field" value="lemma" aria-disabled="false" dir="null">
                    <paper-item value="lemma">
                        <pb-i18n key="lex0.search.fields.lemma">lemma</pb-i18n>
                    </paper-item>
                    <paper-item value="pos" data-i18n="[label]lex0.search.fields.partOfSpeech">
                     <pb-i18n key="lex0.facets.pos">part-of-speech</pb-i18n>
                    </paper-item>
                    <paper-item value="definition">
                        <pb-i18n key="lex0.search.fields.definition">definition</pb-i18n>
                    </paper-item>
                    <paper-item value="domain">
                        <pb-i18n key="lex0.facets.domain">domain</pb-i18n>
                    </paper-item>
                    <paper-item value="attitude">
                        <pb-i18n key="lex0.facets.attitude">attitude</pb-i18n>
                    </paper-item>

                    <paper-item value="frequency">
                        <pb-i18n key="lex0.facets.frequency">frequency</pb-i18n>
                    </paper-item>
                    <paper-item value="geographic">
                        <pb-i18n key="lex0.facets.geographic">geographic</pb-i18n>
                    </paper-item>
                    <paper-item value="hint">
                        <pb-i18n key="lex0.facets.hint">hint</pb-i18n>
                    </paper-item>
                    <paper-item value="meaningType">
                        <pb-i18n key="lex0.facets.meaningType">meaningType</pb-i18n>
                    </paper-item>

                    <paper-item value="normativity">
                        <pb-i18n key="lex0.facets.normativity">normativity</pb-i18n>
                    </paper-item>
                    <paper-item value="socioCultural">
                        <pb-i18n key="lex0.facets.socioCultural">socioCultural</pb-i18n>
                    </paper-item>
                    <paper-item value="textType">
                        <pb-i18n key="lex0.facets.textType">textType</pb-i18n>
                    </paper-item>


                    <paper-item value="time">
                        <pb-i18n key="lex0.facets.time">time</pb-i18n>
                    </paper-item>
                    <paper-item value="attestation">
                        <pb-i18n key="lex0.facets.attestation">attestation</pb-i18n>
                    </paper-item>
                    
                    <paper-item value="text">
                     <pb-i18n key="lex0.search.fields.anything">anything</pb-i18n>
                    </paper-item>
                  </pb-select>
            </pb-custom-form>
          <div class="search-advanced-area-container">
           <!--  <pb-autocomplete id="search-advanced" name="query-advanced" source="api/teilex0/search/autocomplete">

            </pb-autocomplete> -->
           <pb-search id="search-advanced" name="query-advanced"
                source="api/teilex0/search/autocomplete"
                data-template="pages:parse-params" subforms="#positions-advanced, #area-advanced-form">
             </pb-search> 
            <pb-custom-form id="positions-advanced" name="position">
                <div>
                    <label for="positionChoiceExactly-advanced">
                        <input type="radio" id="positionChoiceExactly-advanced" name="position" value="exactly" checked="checked" />
                        <pb-i18n key="lex0.search.labels.exactly">exactly</pb-i18n>
                    </label>
                
                    <label for="contactChoiceStart-advanced">
                        <input type="radio" id="contactChoiceStart-advanced" name="position" value="start" />
                         <pb-i18n key="lex0.search.labels.start">start</pb-i18n>
                        </label>
                
                    <label for="contactChoiceEnd-advanced">
                        <input type="radio" id="contactChoiceEnd-advanced" name="position" value="end" />
                        <pb-i18n key="lex0.search.labels.end">end</pb-i18n>
                    </label>
                
                    <label for="contactChoiceEverywhere-advanced">
                        <input type="radio" id="contactChoiceEverywhere-advanced" name="position" value="everywhere" />
                        <pb-i18n key="lex0.search.labels.everywhere">everywhere</pb-i18n>
                    </label>
                </div>
         </pb-custom-form>
          </div>
          
        <pb-select id="condition" name="condition" data-i18n="[label]lex0.search.labels.condition" value="and" aria-disabled="false" dir="null">
             <paper-item value="and" data-i18n="[label]lex0.search.fields.and">
              <pb-i18n key="lex0.search.fields.and">AND</pb-i18n>
             </paper-item>
             <paper-item value="or" data-i18n="[label]lex0.search.fields.or">
              <pb-i18n key="lex0.search.fields.or">OR</pb-i18n>
             </paper-item>
             <paper-item value="andNot" data-i18n="[label]lex0.search.fields.andNot">
              <pb-i18n key="lex0.search.fields.andNot">AND NOT CONTAINS</pb-i18n>
             </paper-item>
           </pb-select>

        </div>
                   <!-- <paper-input id="text" data-i18n="[label]lex0.search.labels.query" type="search" name="query"></paper-input> -->
         </template>
        </pb-repeat>
        <button type="submit">
         <paper-button>
          <pb-i18n key="lex0.search.buttons.search">Search</pb-i18n>
         </paper-button>
        </button>
       </form>
      </iron-form>
      <div id="output"></div>
     </div>
